b {
    color:rgb(139, 75, 75)13, 46, 46;
    background-color: rgb(91, 64, 64)
}
body{
    background-color: gray;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    border:2px solid rgb(43, 7, 7);
}
